In [8]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib.pyplot as plt

## 데이터 불러오기

Fast Campus 머신러닝과 데이터분석 A-Z 과정에서 제공하는 검색광고 데이터 이용

출처 : 네이버, 구글, 페이스북 등의 광고관리시스템

**불필요한 첫 행을 지우고 불러오기 (skiprows 이용)**

skiprows = [0] : 데이터의 첫번째 행 삭제   
skiprows = [0, 1] : 데이터의 첫번째 ~ 두번째 행 삭제

In [10]:
ad = pd.read_excel("C:/Users/Gyu-ri Kim/Desktop/Tangerri/data/네이버보고서.xls", skiprows = [0])
ad.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

 ## 데이터 전처리
 
 #### 결측치 확인

In [11]:
ad.isnull()

       광고그룹    키워드    노출수    클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
0     False  False  False  False   False            False         False
1     False  False  False  False   False            False         False
2     False  False  False  False   False            False         False
3     False  False  False  False   False            False         False
4     False  False  False  False   False            False         False
...     ...    ...    ...    ...     ...              ...           ...
1376  False  False  False  False   False            False         False
1377  False  False  False  False   False            False         False
1378  False  False  False  False   False            False         False
1379  False  False  False  False   False            False         False
1380  False  False  False  False   False            False         False

[1381 rows x 7 columns]

**알아보기 힘드니까 sum이용**

In [14]:
# 열단위로 확인
ad.isnull().sum()

광고그룹               0
키워드                0
노출수                0
클릭수                0
클릭률(%)             0
평균클릭비용(VAT포함,원)    0
총비용(VAT포함,원)       0
dtype: int64

In [15]:
# 행단위로 확인
ad.isnull().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
       ..
1376    0
1377    0
1378    0
1379    0
1380    0
Length: 1381, dtype: int64

#### 반올림 처리

* 클릭수 : 소수점 첫째 자리에서 반올림 필요

In [18]:
clk = round(ad['클릭수'], 0 )
clk

0       9606.0
1       8058.0
2        324.0
3       1864.0
4        814.0
         ...
1376       0.0
1377       0.0
1378       0.0
1379       0.0
1380       0.0
Name: 클릭수, Length: 1381, dtype: float64